.venv/ 
backend/.venv/
!/backend/data/vosk-model-small-en-us-0.15.dvc
!/backend/data/.gitignore
backend/.env
/backend/.env
*.env
/backend/models/*
!/backend/models/*.dvc
node_modules/ 
frontend/node_modules/ 
data/raw/ 
data/processed/ 
backend/models/ 
*.gguf 
*.bin 
*.ckpt 
mlruns/ 
pycache/ 
.DS_Store EOL
.idea
/.idea/
*.pyc